<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Getting the permission from the user for accessing the Internet within out application -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Meredio">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Meredio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        We normally put meta tags in the bottom
        We need to add the API key we got from Google Cloud Projects
        -->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyA8zsfPV84I4QHn9-7r3qMpZoIzLjyd10o"/>
    </application>
</manifest>